{% extends "index.html.twig" %}

{% block section %}
<h2>MES PROJETS :</h2>
<div class="container">
  <div class="row">
{% for proj in projs %}
<div class="col-6">
   <div class="card mx-auto cardprojet">
  <img src="{{proj.image}}" class="card-img-top imgcardprojet" alt='image de "{{proj.titre}}"'>
  <div class="card-body" style="height: 180px;">
  
    <h5 class="card-title">{{proj.titre}}</h5>
  
    <p class="card-text">{{proj.description}}</p>
    <form action="index.php" method="post">
    <input type="hidden" id="Id_Projet" name="Id_Projet" value="{{proj.idProjet}}">
    <input type="hidden" id="Id_Context" name="Id_Contexte" value="{{proj.idContexte}}">
    <input type="submit" class="create btn" name="voirprojet" id="voirprojet" value="Voir +"/>
    </form>
    
  </div>
  </div>
</div>   
{% endfor %}
  </div>
</div>
{% endblock %}
