{% extends "index.html.twig" %}

{% block section %}

<div class="container d-flex pb-5 justify-content-evenly mt-5 pt-5" id="infosperso">
        
        <div class="box">
        
            <h2>Informations personelles</h3>
            {% for info in infos %}
            <p>Nom : {{info.nom}}</p>
            <p>Prénom : {{info.prenom}}</p>
            <p>Email : {{info.mail}}</p>
            <p>Identifiant IUT : {{info.idiut}}</p>
            <a href="?action=modifprofil" class="btn btn-primary create">Modifier le profil</a> 
        </div>
        <div class="d-flex flex-column box">
            <img id="imgprofil" src="{{info.imageprofil}}" alt="photo de {{info.prenom}} {{info.nom}}">
            <a>Modifier la photo de profil</a>
        </div>
</div>
{% endfor %}
<div class="container" id="mesprojets">
    <div id="projetstop" class="d-flex justify-content-evenly pb-3">
        <h2>Vos Projets</h2>
        <a href="?action=ajoutprojet" class="btn btn-primary create">Ajouter un projet</a>  
    </div>
    <div class="row">
    {% for proj in projs %}
    <div class="col-6">
        <div class="card mx-auto cardproj">
                <img src="{{proj.image}}" style="border-radius:20px;" class="card-img-top" alt='image de "{{proj.titre}}"'>
            <div class="card-body">
            

        
                    <h5 class="card-title">{{proj.titre}}</h5>
         
                    <p class="card-text">{{proj.description}}</p>
                
                    <form action="index.php" method="post">
                    <input type="hidden" id="Id_Projet" name="Id_Projet" value="{{proj.idProjet}}">
                    <input type="submit" class="btn btn-info" name="voirprojet" id="voirprojet" value="Voir +"/>
                    <input type="submit" class="btn btn-warning" name="modifprojet" id="modifprojet" value="Modifier le projet"/>
                    <input type="submit" class="btn btn-danger" name="supprojet" id="supprojet" value="Supprimer le projet"/>
                    </form>
            </div>
        </div>
    </div>   
{% endfor %}

</div>

{% endblock %} 