{% extends "index.html.twig" %}

{% block section %}
<div class="container" style="max-width:850px">
  <div class="row">
{% for proj in projs %}
    <h1>{{proj.titre}}</h1>
    
    <img src="{{proj.image}}" style=" width: 850px; height: 228px; object-fit: cover; margin-bottom: 1rem;"alt="image de {{proj.titre}}">
    <div id="description">
    <h3 class="f-bold">Description :</h3>
    <p>{{proj.description}}</p>
    </div>

    <div id="demo">
    <h3 style="margin-top: auto; margin-bottom: auto;font-weight: 500;line-height: auto;">Démo :  </h3> 

    <button style="background: #17A2B8;border-radius:40px;font-weight:normal;border:none;padding:1vh;margin-top: 3vh;margin-bottom:3vh;"><a href="{{proj.demo}}" style="text-decoration:none;color: white; vertical-align: middle; font-weight: 500; font-size: 16px;">Lien vers le projet</a></button>
    
    
    </div>
{% endfor %}  
    <div id="Contributeurs">
    <h3>Contributeurs :</h3>
    <p style="color: #17A2B8; font-style: italic; font-weight: 400;">
    {% for contr in contrs %}

    {{contr.nom}} {{contr.prenom}}&nbsp&nbsp

    {% endfor %}
    </p>
    </div>
    <div id="Tags">
    <h3>Tags :</h3>
    <p style="font-style: italic; font-weight: 400;">
    {% for tag in tags %}

    #{{tag.nomtag}}

    {% endfor %}
    </p>
    </div>
    <div id="categories">
    
    <h3>Catégories :</h3>
    {% for categorie in categories %}
    <button style="padding:1vh; border-radius:40px;background: #000;border:none;margin-top: 3vh;margin-bottom:3vh;"><a style="color: white;">{{categorie.nomcategorie}}</a></button>&nbsp&nbsp
    {% endfor %}
    </div>
{% for proj in projs %}
    <div id="sources">  
    <h3 class="f-bold">Sources :</h3>
    <br>
    <p>{{proj.sources}}</p>
    </div>
{% endfor %}
<h3>Commentaires :</h3>
{% for commentaire in commentaires %}
    <div id="profilcom" class="d-flex flex-row">
      <img style="object-fit: cover; width: 60px; height: 60px; border-radius: 50%;" src="{{commentaire.imageprofil}}" alt="Photo de profil de {{commentaire.prenom}} {{commentaire.nom}}">
      <h4 class="d-flex align-items-center" style="margin-bottom:0;margin-left:20px">{{commentaire.prenom}} {{commentaire.nom}}</h4>
    </div>
    <p style="text-align:justify;">{{commentaire.textecommentaire}}</p>
    <i style="color:grey;">{{commentaire.datecommentaire}}</i>
  
{% endfor %}
{% if acces == "oui" %}
<h3>Ajouter un commentaire :</h3>
<form method="post" action="index.php">
  <div class="form-group">
      <textarea class="form-control" name="Texte_Commentaire" required placeholder="Ecrivez ici :"></textarea>
      {% for proj in projs %}
      <input type="hidden" id="Id_Projet" name="Id_Projet" value="{{proj.idProjet}}">
      <input type="hidden" id="Id_Context" name="Id_Contexte" value="{{proj.idContexte}}">
      {% endfor %}
      <input type="submit" id="create" class="btn btn-primary" name="valider_commentaire" value="Ajouter le commentaire"/>
  </div>
</form>
{% else %}
<h3>Ajouter un commentaire :</h3>
<form method="post" action="index.php">
  <div class="form-group">
      <textarea class="form-control" name="Texte_Commentaire" readonly placeholder="Vous devez être connecté pour pouvoir poster un commentaire !"></textarea>
      <br>
      <a type="submit" id="create" class="btn btn-primary" href="?action=inscription" />Se connecter</a>
  </div>
</form>
{% endif %}
</div>
</div>
{% endblock %} 