
{% extends "index.html.twig" %}

{% block section %}
<h2>MES PROJETS :</h2>
<div class="container">
  <div class="row">
{% for proj in projs %}
<div class="col-6">
   <div class="card mx-auto" style="width: 20rem;box-shadow: 0px 0px 88.364px 11.046px rgba(0, 0, 0, 0.15); border-radius: 30px;">
  <img src="{{proj.image}}" style="border-radius:20px 20px 0px 0px;height: 200px; object-fit: cover;" class="card-img-top" alt='image de "{{proj.titre}}"'>
  <div class="card-body" style="height: 180px;">

    <h5 class="card-title">SAÉ 3.DWeb-DI.01 </h5>

    <p class="card-text">{{proj.titre}}</p>
    <form action="index.php" method="post">
    <input type="hidden" id="Id_Projet" name="Id_Projet" value="{{proj.idProjet}}">
    <input type="hidden" id="Id_Context" name="Id_Contexte" value="{{proj.idContexte}}">
    <input type="submit" class="create btn" name="voirprojet" id="voirprojet" value="Voir +"/>
    </form>
    
  </div>
  </div>
</div>   
{% endfor %}
  </div>
</div>
{% endblock %}



